<div class="flex flex-col flex-grow justify-center items-center">
  <h1 class="text-8xl font-black">
    <span class="letter inline-block">G</span>
    <span class="letter inline-block">S</span>
    <span class="letter inline-block">A</span>
    <span class="letter inline-block">P</span>
  </h1>

  <div class="flex flex-row gap-4">
    <button class="btn" (click)="tl.play()">
      Play
    </button>
    
    <button class="btn" (click)="tl.pause()">
      Pause
    </button>
    
    <button class="btn" (click)="tl.reverse()">
      Reverse
    </button>
  </div>
</div>
